<div>
  <h1>second task</h1>
  <form [formGroup]="myForm2" (ngSubmit)="onSubmit()">
    <h2>form2</h2>
    <input name="username" type="text" placeholder="username" formControlName="username" #login>

    <input name="email" type="email" placeholder="email" formControlName="email" #email>
    <span *ngIf="myForm2.get('email').invalid && myForm2.get('email').errors.required">Email required!</span>
    <span *ngIf="myForm2.get('email').invalid && myForm2.get('email').errors.email">Email is not valid!</span>

    <input name="password" type="password" placeholder="password" formControlName="password" #password>

    <button type="submit" [disabled]="!myForm2.valid">Submit</button>
  </form>
</div>
